[data-tab-content]
{
    display: none;
}
.active[data-tab-content]
{
    display:block;
}

.home
{
    text-align: center;
}
.picture
{
    border-radius: 50%;
    max-width:200px;
    max-height:200px;
}
body{
    background: linear-gradient(to bottom right, #ffffff 0%, #4d4d4d 50%);
}
p{
    color:lightgray;
}