[data-tab-content]
{
    display: none;
}
.active[data-tab-content]
{
    display:block;
}
.picture
{
    border-radius: 50%;
    max-width:200px;
    max-height:200px;
}
body{
    background: linear-gradient(to bottom right, #ffffff 0%, #4d4d4d 50%);
}
p{
    color:lightgray;
}
.LeftSide{
    text-align: left;
    width: 50%;
    height: 70%;
    float: left;
    border-color: red;
    border-style: dotted;
}
.RightSide{
    
}
.Name{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}